@charset "utf-8";

body {
	margin:0;
	background-color:snow;
	overflow-x:hidden;
}

#home {
	width:100%;
	height:100vh;
	top:0;
	margin-top:0;
	transition:1s;
}

a {
	text-decoration:none;
	color:coral;
	transition:0.5s;
}

a:hover {
	color:purple;
	transition:0.5s;
}

.bottom-link {
	text-align:center;
	color:coral;
	text-align:center;
	font-size:30px;
}

.bottom-link:hover {
	color:purple;
	font-size:32px;
}

#name {
	text-decoration:none;
	color:inherit;
	transition:0.5s;
}

#name:hover {
	cursor:pointer;
	color:purple;
	font-size:calc(8.1vh + 2.6vw);
	transition:0.5s;
}

.teenybubs {
	transition:1s;
}

.sidebar-coral {
	background-color:coral;
	width:1vw;
	margin-left:1vw;
	position:fixed;
	height:100vh;
	transition:0.5s;
	margin-top:7vh;
}

.sidebar-purple {
	background-color:purple;
	width:1vw;
	margin-left:3vw;
	position:fixed;
	height:100vh;
	margin-top:-7vh;
	transition:0.5s;
}

.iconic {
	position:fixed;
	right:0;
	top:calc((55vh - 1.5vw)/2);
	float:right;
	margin-right:7%;
	transition:1s;
}

.icon {
	width:calc(2.5vw + 2vh);
}

.titletext {
	font-family: 'Quicksand', sans-serif;
	font-size:calc(8vh + 2.5vw);
	color:coral;
	text-align:center;
	position:fixed;
	width:100%;
	/*margin-top:calc(-100vh + 32vh); for svg */
	margin-top:calc(40vh - 1.25vw);
}

#bubble {
	margin-top:6vh;
	position:absolute;
	margin-left:calc(50vw - 3.6vh);
	width:6vh;
	height:6vh;
	border-radius:5vh;
	border:0.6vh purple solid;
	transition:0.5s;
}

#bubble:hover {
	border:0.8vh coral solid;
	transition:0.5s;
	margin-left:calc(50vw - 3.8vh);
	cursor:pointer;
}

#content {
	display:none;
	font-family: 'Raleway', sans-serif;
	height:100vh;
}

.web-content {
	width:60%;
	margin-left:20%;
}

.proj {
	display:none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: purple; 
	border-radius:4px;
	transition:1s;
}

::-webkit-scrollbar-thumb:hover {
    background: coral;
	transition:1s;
}