@charset "utf-8";

body {
	margin:0;
	background-color:snow;
	overflow-x:hidden;
}

#home {
	width:100%;
	height:100vh;
	top:0;
	margin-top:0;
	transition:1s;
}

#index {
	height:100vh;
	transition:1s;
/*	position:absolute;*/
}

.hometext {
	font-family: 'Raleway', sans-serif;
	font-size:calc(8vh + 2.5vw);
	color:dimgray;
	text-align:left;
/*	position:fixed;*/
	width:100%;
	padding-top:calc(40vh - 1.25vw);
	margin-left:10vw;
}

.sectiontext {
	font-family: 'Raleway', sans-serif;
	font-size:calc(4vh + 3vw);
	color:dimgray;
	text-align:left;
	width:100%;
}

.links {
	font-size:calc(4vh + 1vw);
	margin-top:5vh;
	color:slategray;
}

a {
	text-decoration:none;
	color:darkslategray;
	transition:0.5s;
}

a:hover {
	color:lightgrey;
	transition:0.5s;
}

.part {
/*	height:100vh;*/
	width:100vw;
}

#about {
	background-color:dimgray;
/*	margin-top:100vh;*/
}


#name {
	text-decoration:none;
	color:inherit;
	transition:0.5s;
}

#name:hover {
	cursor:pointer;
	color:purple;
	font-size:calc(8.1vh + 2.6vw);
	transition:0.5s;
}

.teenybubs {
	transition:1s;
}


.icon {
	width:calc(3vw + 2.5vh);
	padding-left:3vw;
}

.titletext {
	font-family: 'Quicksand', sans-serif;
	font-size:calc(8vh + 2.5vw);
	color:coral;
	text-align:center;
	position:fixed;
	width:100%;
	/*margin-top:calc(-100vh + 32vh); for svg */
	margin-top:calc(40vh - 1.25vw);
}

.content {
	font-family: 'Raleway', sans-serif;
	width:65vw;
	margin-left:10vw;
	padding-bottom: 5vh;
	padding-top:5vh;
}

.larger-text {
	font-size:calc(1.7vh + 1.6vw);
}

.smaller-text {
	font-size:calc(1vh + 1.1vw);
}

.proj {
	display:none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: darkgray; 
	border-radius:4px;
	transition:1s;
}

::-webkit-scrollbar-thumb:hover {
    background: lightgray;
	transition:1s;
}